<%- include("header"); -%>


  <div class="box" id="heading">
    <h1> <%= listOfTitle %> </h1>
  </div>
  <div class="box">
      <% for(var i=0;i<newListItems.length;i++){ %>
        <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i]%></p>
        </div>
      <%}%>
      <form class="" action="/" method="post">
      <input type="text" name="newItem" value="" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value= <%= listOfTitle %> >+</button>
  </div>
</form>

<%- include("Footer"); -%> 
